div p {
  width: 50%;
  display: inline-block;
  background-color: antiquewhite;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}

div {
  background-color: cornsilk;
}

iframe {
  width: 50%;
  height: 400px;
  display: inline-block;
  background-color: antiquewhite;
  font-size: small;
}

div h4 {
  color: darkblue;
  font-family: "Times New Roman", Times, serif;
}
